<div class="ui menu">
  <div class="header item">
    Billboard
  </div>
  <div class="link item">
    <%= link_to 'Home', root_path %>
  </div>
  <div class="link item">
    <%= link_to 'Artists', artists_path %>
  </div>
</div>